<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Początkowa Strona</title>
</head>
<body>
    <div class="container"><center>
        <h1>Wybierz opcję</h1>
        <br>
        <br>
        <br>
        <div class="buttons">
            <a href="/calculator">Kalkulator</a>
            <a href="/brain_trainer">Brain Trainer</a>
            <a href="/intentions">Intencje</a>
            <a href="/gps">GPS</a>
    </center></div>
    </div>
</body>
</html>
